@model forge_workout_tracker.Models.Exercise

<h1>Add Exercise</h1>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="MuscleGroup"></label>
        <input asp-for="MuscleGroup" />
    </div>
    <button type="submit">Save</button>
</form>